.restaurants__cadre__img__btn__nouveau {
  position: absolute;
  background-color: mediumaquamarine;
  z-index: 2;
  padding: 1em;
  right: 0;
  margin: 1em 1em 0 0;
  font-weight: bold;
  color: green;
}

.restaurants__cadre__img-1, .header__img-a-la-francaise {
  background-image: url(images/restaurants/birinci.jpg);
}

.restaurants__cadre__img-2 {
  background-image: url(images/restaurants/ikinci.jpg);
}

.restaurants__cadre__img-3 {
  background-image: url(images/restaurants/ucuncu.jpg);
}

.restaurants__cadre__img-4 {
  background-image: url(images/restaurants/dorduncu.jpg);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}
.header__title {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}
.header__town {
  background-color: #D3D3D3;
  box-shadow: inset 0em 0.13em 0.2em grey;
  padding: 1em;
  font-weight: 400;
}
.header__town__geolocalisation {
  padding: 0 1em;
}
.header__menu {
  background-color: whitesmoke;
  padding: 3em 0;
}
.header__description {
  font-weight: bold;
  font-size: 1.7em;
}
.header__btn {
  padding: 1em;
  border-radius: 45px;
  box-shadow: black 0 0 10px -4px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: white;
  font-size: 1.6em;
  line-height: 1em;
  text-align: center;
  background-image: linear-gradient(to bottom, pink 11%, purple 107%);
}

.nav-liste {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin: 2em;
}

.nav-liste__fonctionnement {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1em 0;
}

.nav-liste__block {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0.7rem 0;
}

.nav-liste__block__ordre {
  position: absolute;
  left: -6px;
  right: auto;
  padding: 0.4em;
  border-radius: 50%;
  background-color: purple;
  line-height: 80%;
  color: white;
}

.nav-liste__block__btn {
  border-radius: 18px;
  padding: 1em;
  margin: 0.2em;
  background-color: whitesmoke;
  width: 85vw;
  box-shadow: black 0 0 10px -4px;
}

.nav-liste__block__btn__icone {
  padding: 0 0.8em;
}

.nav-liste__block__btn--deguster {
  background-color: #fec5e5;
}

.icon-market {
  color: purple;
}

a:visited {
  color: black;
  text-decoration: line-through;
  text-transform: none;
  background-color: lightcoral;
}

.restaurants {
  background: whitesmoke;
  padding: 4em 0;
}
.restaurants a {
  display: block;
}
.restaurants__title {
  font-weight: bold;
  font-size: 1.4em;
  margin: auto;
  width: 85vw;
  padding: 1em 0;
}
.restaurants__cadre {
  box-shadow: black 0 0 10px -4px;
  width: 85vw;
  border-radius: 23px;
  margin: 2em auto;
}
.restaurants__cadre__img {
  height: 20vh;
  background-position: center;
  background-size: cover;
  border-radius: 23px 23px 0 0;
  background-repeat: no-repeat;
  position: relative;
}
.restaurants__cadre__description {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 2em;
  justify-content: space-between;
  border-radius: 0 0 23px 23px;
}
.restaurants__cadre__description__paragraphe {
  line-height: 0.5em;
}
.restaurants__cadre__description__paragraphe p:first-child {
  font-weight: bold;
}
.restaurants__cadre .heart:hover .restaurants__cadre__description__coeur__vide, .restaurants__cadre .restaurants__cadre__description__coeur__rempli {
  display: none;
}
.restaurants__cadre .heart:hover .restaurants__cadre__description__coeur__rempli {
  display: inline;
  color: purple;
  opacity: 0.4;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
footer ul {
  list-style-type: none;
  line-height: 2em;
}
footer ul i {
  padding-right: 1em;
}
footer .footer__title {
  font-family: "Shrikhand", cursive;
  padding: 1.7em 40px 1.3em;
  font-size: 1.7em;
  margin: 0;
}

.header__img {
  height: 30vh;
  background-position: center;
  background-size: cover;
  border-radius: 23px 23px 0 0;
  background-repeat: no-repeat;
  position: relative;
}

.menu {
  background-color: whitesmoke;
  padding: 1em;
}
.menu__entrees-title {
  margin: 2em 0;
}
.menu__title > span {
  font-size: 2em;
  font-weight: bold;
  font-family: "Shrikhand", cursive;
}
.menu__title i {
  float: right;
}
.menu__entrees {
  border-radius: 25px;
  background-color: white;
  padding: 0 1em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: black 0 0 10px -4px;
}
.menu__entrees__plat {
  font-weight: bold;
}
.menu__entrees__prix {
  font-weight: bold;
  padding: 3em 0 0 0;
}

/*# sourceMappingURL=33.css.map */
