@keyframes transition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.menu__liste:nth-child(1) {
  opacity: 0;
  animation: transition 1s ease-in-out 3s forwards;
}

.menu__liste:nth-child(2) {
  opacity: 0;
  animation: transition 1s ease-in-out 4s forwards;
}

.menu__liste:nth-child(1) {
  opacity: 0;
  animation: transition 1s ease-in-out 0.8s forwards;
}

.restaurants__cadre__img__btn__nouveau {
  position: absolute;
  background-color: #99E2D0;
  z-index: 2;
  padding: 1em;
  right: 0;
  margin: 1em 1em 0 0;
  font-weight: bold;
  color: green;
}

.restaurants__cadre__img-1, .header__img-a-la-francaise {
  background-image: url(images/restaurants/birinci.jpg);
}

.restaurants__cadre__img-2 {
  background-image: url(images/restaurants/ikinci.jpg);
}

.restaurants__cadre__img-3 {
  background-image: url(images/restaurants/ucuncu.jpg);
}

.restaurants__cadre__img-4 {
  background-image: url(images/restaurants/dorduncu.jpg);
}

* {
  box-sizing: border-box;
}

/* phone */
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.page-web {
  animation: page 1000ms 150ms both;
  z-index: 1;
}

@keyframes page {
  0% {
    transform: translateX(-9999px);
  }
  100% {
    transform: translateX(0);
  }
}
.fa-arrow-left {
  font-size: 1.5em;
}

.header {
  text-align: center;
}
.header__title {
  margin: 0 auto;
}
.header__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.header__content > i {
  position: absolute;
  padding: 0 2em;
}
.header__content__lien-page-accueil {
  padding: 0 5%;
}
.header__title {
  font-family: "Shrikhand", cursive;
  font-size: 2em;
}
.header__town {
  background-color: #D3D3D3;
  box-shadow: inset 0em 0.13em 0.2em grey;
  padding: 1em;
  font-weight: 400;
}
.header__town__geolocalisation {
  padding: 0 1em;
}
.header__menu {
  background-color: whitesmoke;
  padding: 3em 0;
}
.header__description {
  font-weight: bold;
  font-size: 1.7em;
}
.header__btn {
  padding: 1em;
  border-radius: 45px;
  box-shadow: black 0 0 10px -4px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: white;
  font-size: 1.6em;
  line-height: 1em;
  text-align: center;
  background-image: linear-gradient(to bottom, #FF79DA 11%, #9356DC 107%);
  display: table;
  margin: 0 auto;
  transition: all 0.6s;
}
.header__btn:hover {
  background-image: linear-gradient(to bottom, #FF79DA 11%, #9356DC 107%);
  opacity: 0.9;
  box-shadow: black 1px 8px 9px -4px;
}

.nav-liste {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  margin: 2em;
}

.nav-liste__fonctionnement {
  font-size: 1.4em;
  font-weight: bold;
  margin: 1em 0;
}

.nav-liste__block {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0.7rem 0;
}

.nav-liste__block__ordre {
  position: absolute;
  left: -6px;
  right: auto;
  padding: 0.4em;
  border-radius: 50%;
  background-color: #9356DC;
  line-height: 80%;
  color: white;
}

.nav-liste__block__btn {
  border-radius: 18px;
  padding: 1em;
  margin: 0.2em;
  background-color: whitesmoke;
  width: 85vw;
  box-shadow: black 0 0 10px -4px;
}

.nav-liste__block__btn__icone {
  padding: 0 0.8em;
}

.nav-liste__block__btn--deguster {
  background-color: #9356DC33;
}

.icon-market {
  color: #9356DC;
}

a:visited {
  color: black;
}

a {
  text-decoration: none;
}

a:hover {
  transform: scale(1.15em);
}

.restaurants {
  background: whitesmoke;
  padding: 4em 0;
}
.restaurants a {
  display: block;
}
.restaurants__title {
  font-weight: bold;
  font-size: 1.4em;
  margin: auto;
  width: 85vw;
  padding: 1em 0;
}
.restaurants__cadre {
  box-shadow: black 0 0 10px -4px;
  width: 85vw;
  border-radius: 23px;
  margin: 2em auto;
}
.restaurants__cadre__img {
  height: 20vh;
  background-position: center;
  background-size: cover;
  border-radius: 23px 23px 0 0;
  background-repeat: no-repeat;
  position: relative;
}
.restaurants__cadre__description {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 2em;
  justify-content: space-between;
  border-radius: 0 0 23px 23px;
}
.restaurants__cadre__description__paragraphe {
  line-height: 0.5em;
}
.restaurants__cadre__description__paragraphe p:first-child {
  font-weight: bold;
}
.restaurants__cadre .heart:hover .restaurants__cadre__description__coeur__vide,
.restaurants__cadre .restaurants__cadre__description__coeur__rempli {
  display: none;
}
.restaurants__cadre .heart:hover .restaurants__cadre__description__coeur__rempli {
  display: inline;
  color: #9356DC;
  opacity: 0.8;
}

footer {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
footer ul {
  list-style-type: none;
  line-height: 2em;
}
footer ul i {
  padding-right: 1em;
}
footer .footer__title {
  font-family: "Shrikhand", cursive;
  padding: 0.5em 40px;
  font-size: 1.7em;
  margin: 0;
}

.header__img {
  height: 17em;
  background-position: center;
  background-size: cover;
  border-radius: 23px 23px 0 0;
  background-repeat: no-repeat;
}

body {
  margin: 0;
}

.menu {
  background-color: whitesmoke;
  padding: 1em;
  border-radius: 50px 50px 0 0;
  margin: -50px 0 0;
}
.menu__header {
  padding: 30px 0;
}
.menu__header > div {
  display: inline;
  font-size: 2em;
  font-weight: bold;
  margin: 1em 0 0.7em 0;
  font-family: "Shrikhand", cursive;
}
.menu__header i {
  float: right;
  padding: 0 22px 0 0;
}
.menu__liste {
  position: relative;
  border-radius: 25px;
  background-color: white;
  padding: 0 1em;
  margin: 1em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: black 0 0 10px -4px;
  cursor: pointer;
  overflow: hidden;
}
.menu__liste__description {
  width: 100%;
  transition: all 3s;
}
.menu .menu__liste:hover .menu__liste__description {
  width: 80%;
}
.menu__liste__description--1p {
  font-weight: bold;
}
.menu__liste__description__plat__bottom {
  display: flex;
}
.menu__liste__description__plat--2p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: blue;
  width: 100%;
}
.menu__liste__prix {
  font-weight: bold;
  padding: 1em 0;
}

.menu__liste:hover .menu__hover-show {
  width: 20%;
}
.menu__hover-show {
  background: lime;
  border-radius: 0 25px 25px 0;
  transition: all 3s;
  width: 10px;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  overflow: hidden;
}
.menu__hover-show__logo {
  color: red;
}
.menu__liste:hover .menu__hover-show__logo {
  transform: rotate(360deg);
  display: flex;
  transition: transform 2.7s;
  padding: 33px;
  justify-content: center;
  color: white;
}

.fa-utensils {
  margin: 0 3px;
}

.a-la-francaise-btn {
  padding: 1em;
  border-radius: 45px;
  box-shadow: black 0 0 10px -4px;
  position: relative;
  display: inline-block;
  vertical-align: top;
  color: white;
  font-size: 1.6em;
  line-height: 1em;
  text-align: center;
  background-image: linear-gradient(to bottom, #FF79DA 11%, #9356DC 107%);
  display: table;
  margin: 0 auto;
  padding: 1em 3em;
  margin: 2em auto;
  transition: all 0.7s;
}
.a-la-francaise-btn:hover {
  background-image: linear-gradient(to bottom, #FF79DA 67%, #9356DC 107%);
  opacity: 0.9;
  box-shadow: black 1px 8px 9px -4px;
}

.header__img-a-la-francaise {
  border-radius: 0;
}

.menu__title {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  padding: 0 0 10px;
  position: relative;
}

.menu__title:after {
  bottom: 0px;
  content: "";
  display: block;
  height: 4px;
  left: 0%;
  position: absolute;
  background: #99E2D0;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 2.5em;
}

.menu__title:hover:after {
  width: 100%;
}

@keyframes page-daccueil {
  100% {
    z-index: -3;
    background-color: white;
  }
}
.spinner-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #9356DC;
  animation: page-daccueil 7s forwards;
}

.spinner {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  width: 30px;
  height: 30px;
  animation: spinner 3s;
  animation-iteration-count: 4;
}
.spinner span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.spinner .spinner-inner-1 {
  background: linear-gradient(to right, rgba(250, 128, 114, 0) 0%, rgba(250, 128, 114, 0) 50%, salmon 51%);
}
.spinner .spinner-inner-2 {
  background: linear-gradient(to top, rgba(255, 255, 255, 0) 0%, white 100%);
}
.spinner .spinner-inner-3 {
  top: 3px;
  left: 3px;
  width: 24px;
  height: 24px;
  background: white;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*pc desktop */
@media all and (min-width: 1050px) {
  * {
    font-weight: bold;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
  }

  .menu__liste {
    width: 32%;
  }

  .header__title {
    margin: 1em auto;
    font-size: 3em;
  }

  .restaurants {
    display: flex;
    flex-wrap: wrap;
  }
  .restaurants__cadre {
    width: 40%;
  }
  .restaurants__title simple {
    width: 100%;
  }

  .nav-liste {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .nav-liste__fonctionnement {
    width: 100%;
    background-color: white;
  }

  .nav-liste__block {
    width: 30%;
    align-items: unset;
  }

  .nav-liste__block__ordre {
    right: -6px;
    border-radius: 10px;
    text-align: center;
    font-size: 2em;
  }

  .nav-liste__block__btn {
    padding: 4em 0;
    font-size: 1.4em;
  }

  .header__menu {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    padding: 3em 2em;
  }

  .header__btn {
    margin: initial;
    align-self: right;
    align-items: center;
    width: 50%;
    height: 75%;
    display: grid;
    position: absolute;
    right: 2em;
    letter-spacing: 5px;
    font-size: 3em;
  }

  .img-responsive {
    background-image: url(images/restaurants/birinci.jpg);
  }
}

/*# sourceMappingURL=33.css.map */
