@import "./utils/variables";
@import "./assets/images";

$shadow: black 0 0 10px -4px;
$darken-shadow: black 1px 8px 9px -4px;
* {box-sizing: border-box;}

body{font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin: 0;
        padding: 0;

    }

    $prog-bar-dur: 1000ms;
    $prog-bar-delay: 150ms;
    $cat-delay: $prog-bar-dur + $prog-bar-delay;
    .page-web {
        animation: page 1000ms 150ms both;
        z-index: 1;
    }
    @keyframes page{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
        }
    }









    .fa-arrow-left{
        font-size: 1.5em;
    }
.header{
    text-align: center;
    &__title{
        margin: 0 auto;
    }
    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;

    }
    &__content > i{
        position: absolute;
        padding: 0 2em;
    }
    &__content__lien-page-accueil{
        padding: 0 5%;
    }
    &__title{
    font-family: 'Shrikhand', cursive;
    font-size: 2em;
    }
    &__town{
    background-color: #D3D3D3;
    box-shadow: inset 0em 0.13em 0.2em grey;
    padding: 1em;
    font-weight: 400;
    }
    &__town__geolocalisation{
    padding:0 1em;
    }
    &__menu{
    background-color: whitesmoke;
    padding: 3em 0;
    }
    &__description{
    font-weight: bold;
    font-size: 1.7em;
    }
    &__btn{
    @include btn;

    transition: all 0.6s;
    &:hover{
        // color: pink;
        background-image: $btn-gradient-color;
        opacity: 0.9;
        box-shadow:$darken-shadow;
        }   

    }
    
}

.nav-liste{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin: 02em;
}

.nav-liste__fonctionnement{
    font-size: 1.4em;
    font-weight: bold;
    margin: 1em 0;
}
.nav-liste__block{
	display: flex;
	position: relative;
	align-items: center;
    margin: 0.7rem 0;
}
.nav-liste__block__ordre{
	position: absolute;
	left: -6px;
	right: auto;
	padding: 0.4em ;
	border-radius: 50%;
	background-color: $primary-color;
	line-height: 80%;
    color: white;
}


.nav-liste__block__btn{
    // border: 2px solid black;
    border-radius: 18px;
    padding: 1em;
    margin: 0.2em;
    background-color: whitesmoke;
	width: 85vw;
    box-shadow: $shadow;
    
}
.nav-liste__block__btn__icone{
	padding: 0 0.8em;
}
.nav-liste__block__btn--deguster{
    background-color: $primary-color-opacity ;
}
.icon-market{
    color: $primary-color;
}


// .restaurants a {
//     display: block;
// }
a:visited{
    color:black;

}
a{
     text-decoration: none;
}
a:hover{
    transform:scale(1.15em);
    // transition: s;
}

.restaurants{
    background:$grey-color ;
    padding: 4em 0;
    // border-radius: 3rem;
    & a{
        display: block;
    }
    &__title{
        font-weight: bold;
        font-size: 1.4em;
        margin: auto;
        width: 85vw;
    
        padding:1em 0;
    }
    &__cadre{
    box-shadow: $shadow;
    
    width: 85vw;
    border-radius: 23px;
    margin: 2em auto;
    
            &__img{ 
   
        height: 20vh;
	background-position: center;
	background-size: cover;
    border-radius: map-get($map:$border-radius-cadre , $key:restaurants-accueil );
	background-repeat: no-repeat;
    position: relative; 

            }
            
            &__description{
    background-color: $white-color;
    // background-color: blueviolet;

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 2em;
    
    justify-content: space-between;
    border-radius: map-get($map:$border-radius-cadre , $key:restaurants-accueil-description );
            }
            // &__description__premier-paragraphe{
            //     padding
            &__description__paragraphe{
                line-height: 0.5em;
                // padding: 2em;
                // margin: 6em;
            } 
             &__description__paragraphe p:first-child {
                 font-weight: bold;
             }



.heart:hover .restaurants__cadre__description__coeur__vide ,
.restaurants__cadre__description__coeur__rempli{
    display: none;
}
.heart:hover .restaurants__cadre__description__coeur__rempli{
    display: inline;
    color:$primary-color;
    // color: linear-gradient(to bottom, $secondary-color 11%, $primary-color 107%);;
    opacity:0.8;
    // background-image: linear-gradient(to bottom, $secondary-color 11%, $primary-color 107%);
  }
    }
}

footer{
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: white;
    
    & ul{
    list-style-type: none;
    line-height: 2em;
    }
    & ul i {
        padding-right: 1em;
    }
    & .footer__title{ 
        font-family: 'Shrikhand', cursive;
        padding: 0.5em 40px ;
        font-size: 1.7em;
        margin: 0;
    }

    
}

// .footer__page2{
//     position: relative;
//     top:-2.3em;
// }

// page 2
// page a la francaise

.header__img{ 
   
    height: 17em;
background-position: center;
background-size: cover;
border-radius: map-get($map:$border-radius-cadre , $key:restaurants-accueil );
background-repeat: no-repeat;


        }
body{margin: 0;}
.menu{
    background-color:$grey-color;
    padding: 1em;
    border-radius: 50px 50px 0 0;
    margin: -50px 0 0;
    &__title{
     
// .menu__title:after 
// .menu__title:hover:after 
// voir en dessous vers la ligne 300



    }
    &__header{
        padding: 30px 0;
        & > div{
            display: inline;
            font-size: 2em;
            font-weight: bold;
            margin: 1em 0 0.7em 0;
            // font-style: italic;
            font-family: 'Shrikhand', cursive;
            // (telecharger police en italique bold)

        }
        & i {
            float: right;
            padding: 0 22px 0 0 
        }
    }
    &__liste{
    // @include menu-plat;
    position: relative;
    border-radius: 25px;
    background-color: white;
    padding: 0 1em;
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 100%;
    box-shadow: $shadow;
    cursor: pointer;
    overflow: hidden;
    
    }

    &__liste__description{
        width: 100%; 
        transition: $transition-menu-liste;
    }
    .menu__liste:hover .menu__liste__description{
        width:80%
    }
    &__liste__description--1p{
        font-weight: bold;
    }
    &__liste__description__plat__bottom{
        display: flex;
    }
    &__liste__description__plat--2p{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      color: blue;
      width: 100%;
    }
     &__liste__prix{
        font-weight: bold;
        padding: 1em 0;
    }
}






.menu{
    &__liste:hover &__hover-show{
        // transform:translate(-30px) ;
        width:20%;
       

    }
    &__hover-show{
        background: lime;
        // transform:translate(0); 
        border-radius: 0 25px 25px 0;
        transition: $transition-menu-liste ; 
        width:10px;
        position:absolute;
        right: 0;
        bottom: 0;
        top: 0;
   
        overflow:hidden;
        // transform-origin: right; 
    }
    &__hover-show__logo{
        // display:flex;
        // transition: transform 5s;
        // align-items:center;
        // justify-content:center;   
        color: red;
       
        
    }
    &__liste:hover &__hover-show__logo   {
        transform: rotate(360deg);
        display:flex;
        transition: transform 2.7s;
        // align-items:center; il ne fonctionne pas why i dont know so i did
        padding: 33px;
        // mauvaise methode mais chepa pourquoi le padding ne fonctionne pas
        // si t'arrive pas utilise keyframes
        justify-content:center;   
        color: white
    }
}



.a-la-francaise-btn{
    @include btn;
    padding: 1em 3em;
    margin: 2em auto;
    transition: all 0.7s;
    &:hover{
        // color: pink;
        background-image: $btn-gradient-color--lighten;
        opacity: 0.9;
        box-shadow:$darken-shadow;
        
        
    }
}
.header__img-a-la-francaise{
    border-radius: 0;
}

// :hover underline


.menu__title {
    // color: red;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0 0 10px;
    position: relative;
}
.menu__title:after {    
    bottom: 0px;
    content: "";
    display: block;
    height: 4px;
    left: 0%;
    position: absolute;
    background: $tertiaire-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 2.5em;
}
.menu__title:hover:after { 
    width: 100%; 
}

// spinner

$spinner: salmon;
$background: white;
$size: 30px;



@keyframes page-daccueil{

//   99%{
//       left: 0;
//   }
  100% {
    // left: 120%;
    // display: none;
    z-index: -3;
    background-color: white;
  }
}



.spinner-container{
    position: absolute;
    // apres fixed
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $primary-color;
    // z-index: 5;
    animation: page-daccueil 7s   forwards ;
}
.spinner {
  position: absolute;
  top: calc(50% - #{$size / 2});
  left: calc(50% - #{$size / 2});


  width: $size;
  height: $size;
  animation: spinner 3s  ;
  animation-iteration-count: 4 ;


  span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    // z-index: -4;
  }
  
  .spinner-inner-1 {
    background: linear-gradient(to right, rgba($spinner,0) 0%,rgba($spinner,0) 50%,$spinner 51%);
  }
  
  .spinner-inner-2 {
    background: linear-gradient(to top, rgba($background,0) 0%,$background 100%);
  }
  
  .spinner-inner-3 {
    $offset: $size * 0.1;
    top: $offset;
    left: $offset;
    width: $size - ($offset * 2);
    height: $size - ($offset * 2);
    background: $background;
  }
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

// fin spinner 
