
.heart:hover .restaurants__cadre__description__coeur__vide , .restaurants__cadre__description__coeur__rempli{
    display: none;
}
.heart:hover .restaurants__cadre__description__coeur__rempli{
    display: inline;
}


.btn {
    &:hover + .box {
      transform: scale(-2);
    }
  }
  span{display:inline-block;
    background-color:yellowgreen}
  .box {
      transition: transform 3s ease-in-out;
  }
 