@import "./utils/variables";
@import "./assets/images";
@import "./utils/spinner" ;

// .fititi{
//     object-fit: cover;
// }
.relative{
    position: relative;
}
input{
    border: none;
    background: #D3D3D3;
    font-family: inherit;
    font-size: 0.9em;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
.relative::before{
    content: "Nouveau";
    // background-color: yellow;
    // position: absolute;
    // right: 0;
    
    // .restaurants__cadre__img__btn__nouveau {
        position: absolute;
        background-color: #99E2D0;
        padding: 1em;
        right: 0;
        margin: 1em 1em 0 0;
        font-weight: bold;
        color: green;
    // }
}
.image-accueil{
    // .restaurants__cadre__img {
        // position: relative;
        height: 17em;
        max-height: 30vh;
        background-position: center;
        background-size: cover;
        border-radius: 23px 23px 0 0;
        background-repeat: no-repeat;

        display: inline;
        object-fit: cover;
        width: 100%;
        // z-index: -5;
}


* {box-sizing: border-box;}
a {color: #000000;}


body{font-family: 'Roboto', sans-serif;
        font-weight: 300;
        margin: 0;
        padding: 0;

    }


    $delay-menu-animation:2s;

@keyframes transition {
    0%   { opacity:0; }
    100% { opacity:1; }
    }
    .menu__liste {
        opacity:0;
        animation: transition 1s ease-in-out 0.6s+2s forwards;
    }





    $prog-bar-dur: 1000ms;
    $prog-bar-delay: 150ms;
    $cat-delay: $prog-bar-dur + $prog-bar-delay;
    .page-web {
        animation: page 1000ms 150ms both;
        z-index: 1;
    }
    @keyframes page{
    0% {
        transform: translateX(-9999px);
    }
    100% {
        transform: translateX(0);
        }
    }

// $delay-per-container: 9;


    .load-1 { 
        animation-delay: $delay-menu-animation + 100ms;
    }
    .load-2 {
        animation-delay: $delay-menu-animation + 200ms;
    }
    .load-3 {
        animation-delay: $delay-menu-animation + 300ms;
    }
    .load-4 {
        animation-delay: $delay-menu-animation + 400ms;
    }
    .load-5 {
        animation-delay: $delay-menu-animation + 500ms;
    }
    .load-6{
        animation-delay: $delay-menu-animation + 600ms;
    }
    .load-7{
        animation-delay: $delay-menu-animation + 700ms;
    }
    .load-8{
        animation-delay: $delay-menu-animation + 800ms;
    }
    .load-9{
        animation-delay: $delay-menu-animation + 900ms;
    }





    .fa-arrow-left{
        font-size: 1.5em;
    }
.header{
    text-align: center;
        &__title{
        margin: 0 auto;
        font-family: 'Shrikhand', cursive;
        font-size: 2em;
        }

    &__content{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;

    }
    &__content::after{
        content: "";
        flex: 1;
    }

    &__content > i{
        position: absolute;
        left: 0;
        }
        &__content__lien-page-accueil{
        flex: 1;
    }
    &__town{
    background-color: #D3D3D3;
    box-shadow: inset 0em 0.13em 0.2em grey;
    padding: 1em;
    font-weight: 400;
    }
    &__town__geolocalisation{
    padding:0 1em;
    }
    &__menu{
    background-color: whitesmoke;
    padding: 3em 0;
    }
    &__description{
    font-weight: bold;
    font-size: 1.7em;
    }
    &__btn{
    // @include btn;
    font-size: 1.1em;
    border-radius: 45px;
    box-shadow: $shadow;
    display: inline-block;
	color: white;
    padding: 0 3em;
	text-align: center;
	background-image: $btn-gradient-color;

    transition: all 0.6s;
    &:hover{

        background-image: $btn-gradient-color;
        opacity: 0.9; 
        box-shadow:$darken-shadow;
        }   
    }
}

.header__menu-font-weight{
    font-weight: unset;
    // display: block;

}
h4 {
    font-weight: unset;
}
h6, h5{
    font-weight: unset;
    margin: 1em 0;
}
h2{
    display: inline-block;
}

.nav-liste{
    display: flex;
    flex-direction: column;
    font-weight: 500;
    margin: 02em;
}

.nav-liste__fonctionnement{
    font-size: 1.4em;
    font-weight: bold;
    margin: 1em 0;
}
.nav-liste__block{
	display: flex;
	position: relative;
	align-items: center;
    margin: 0.7rem 0;
    
}
.nav-liste__block__ordre{
	position: absolute;
	left: -6px;
	right: auto;
	padding: 0.4em ;
	border-radius: 50%;
	background-color: $primary-color;
	line-height: 80%;
    color: white;
}


.nav-liste__block__btn{
    border-radius: 18px;
    padding: 1em;
    margin: 0.2em;
    background-color: whitesmoke;
	width: 85vw;
    box-shadow: $shadow;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.nav-liste__block__btn__icone{
	padding: 0 0.8em;
    font-size: 2em;
}
.nav-liste__block__btn--deguster{
    background-color: $primary-color-opacity ;
}
.icon-market{
    color: $primary-color;
}

.header__img-page-2{
    height: 17em;
    background-position: center;
    background-size: cover;
    border-radius: map-get($map:$border-radius-cadre , $key:restaurants-accueil );
    background-repeat: no-repeat;
    border-radius: 0 0 0 0;
}

// header__img-page-2

a:visited{
    color:black;

}
a{
     text-decoration: none;
}
a:hover{
    transform:scale(1.01);
}

.restaurants{
    background:$grey-color ;
    padding: 4em 0;
    // border-radius: 3rem;
    & a{
        display: block;
    }
    &__title{
        font-weight: bold;
        font-size: 1.4em;
        margin: auto;
        width: 85vw;
    
        padding:1em 0;
    }
    &__cadre{
        box-shadow: $shadow;
        
        width: 85vw;
        border-radius: 23px;
        margin: 2em auto;
        
        &:hover {
            box-shadow: $darken-shadow;
        }
        
        &__img{ 
            position: relative;
            height: 17em;
            max-height: 30vh;
            background-position: center;
            background-size: cover;
            border-radius: map-get($map:$border-radius-cadre , $key:restaurants-accueil );
            background-repeat: no-repeat;
        }
        &__description{
            background-color: $white-color;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 1em 2em;
            
            justify-content: space-between;
            border-radius: map-get($map:$border-radius-cadre , $key:restaurants-accueil-description );
        }
        &__description__paragraphe{
            line-height: 0.5em;
        } 
        &__description__paragraphe h4:first-child {
            font-weight: bold;
        }
        .heart:hover .restaurants__cadre__description__coeur__vide ,
        .restaurants__cadre__description__coeur__rempli{
            display: none;
        }
        .heart:hover .restaurants__cadre__description__coeur__rempli{
        display: inline;
        animation: coeur 1s both alternate;
        background: -webkit-linear-gradient( $secondary-color 100%, $primary-color 10%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
         }

    }

}
@keyframes coeur{
    0% {opacity: 0;
        }
    100%{opacity: 1;
    // color: blueviolet;
    background: -webkit-linear-gradient( $secondary-color 26%, $primary-color 107%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% { 
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
// .heart:hover .restaurants__cadre__description__coeur__rempli{}

// @keyframes transition {
//     0%   { opacity:0; }
//     100% { opacity:1; }
//     }
//     .menu__liste {
//         opacity:0;
//         animation: transition 1s ease-in-out 0.6s+2s forwards;
//     }

// <p><a class="jauge" href="#"><span class="jauge-remplissage"></span></a></p>
.jauge {
    width: 100px;
    height: 200px;
    display: block;
    background-color: #303030;
    position: relative;
}
/* Remplissage de bas en haut */
.jauge-remplissage {
    transition: all 0.3s linear 0s;
    // background-color: #33BEE5;
    background: -webkit-linear-gradient( $secondary-color 26%, $primary-color 107%);
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    // top: 0;
}
 
.jauge:hover .jauge-remplissage {
    height: 100%;
}



html{
    height: 100%;
}
footer{
    background-color: rgba($color: #000000, $alpha: 0.8);
    color: white;
    margin: 0;
    
    & ul{
    list-style-type: none;
    line-height: 2em;
    margin: 0;
    padding-bottom: 1em;
    }
    & ul i {
        padding-right: 1em;
    }
    & .footer__title{ 
        font-family: 'Shrikhand', cursive;
        padding: 0.5em 40px ;
        font-size: 1.7em;
        margin: 0;
    }

    
}


// page 2
// page a la francaise




        
body{margin: 0;}
.menu{
    background-color:$grey-color;
    padding: 1em;
    border-radius: 50px 50px 0 0;
    margin: -50px 0 0;
    &__title{
     
    }
    &__header{
        padding: 30px 0;
        & > h2{
            // display: inline;
            font-size: 2em;
            font-weight: bold;
            margin: 1em 0 0.7em 0;
            // font-style: italic;
            font-family: 'Shrikhand', cursive;
            // (telecharger police en italique bold)

        }
        & i {
            float: right;
            padding: 27px 22px 0 0 ;
        }
    }
    &__liste{
    // @include menu-plat;
    position: relative;
    border-radius: 25px;
    background-color: white;
    padding: 0 1em;
    margin: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    // width: 100%;
    box-shadow: $shadow;
    cursor: pointer;
    overflow: hidden;
    
    }

    &__liste__description{
        width: 100%; 
        transition: $transition-menu-liste;
    }
    .menu__liste:hover .menu__liste__description{
        width:80%
    }
    &__liste__description--1p{
        font-weight: bold;
        font-size: 1em;
    }
    &__liste__description__plat__bottom{
        display: flex;
    }
    &__liste__description__plat--2p{
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%;
    }
     &__liste__prix{
        font-weight: bold;
        padding: 1em 0;
    }
}

.restaurants__title{
    display: block;
}
footer{
    li{
        color: white;
    }
    a{
        color: white;
    }
}



.menu{
    &__liste:hover &__hover-show{
        // transform:translate(-30px) ;
        width:20%;
       

    }
    &__hover-show{
        background: $tertiaire-color;
        // transform:translate(0); 
        border-radius: 0 25px 25px 0;
        transition: $transition-menu-liste ; 
        width:0px;
        position:absolute;
        right: 0;
        bottom: 0;
        top: 0;

        display: flex;
        justify-content: center;
        align-items: center;
        overflow:hidden;
        // transform-origin: right; 
    }
    &__hover-show__logo{
        transform: rotate(0deg);
        color: white;
        font-size: 1.3rem;
        
    }
    &__liste:hover &__hover-show__logo   {
        transform: rotate(360deg);
        display:flex;
        transition: transform 1.4s;
        padding: 33px;
        font-size: 1.4rem;
        justify-content:center;   

        
    }
}

.fa-utensils{
    margin: 0 3px;
}

.btn-commander{
    @include btn-comander
}



// .a-la-francaise-btn{
    .btn-commander{
    @include btn-comander;
    &:hover{
        // color: pink;
        background-image: $btn-gradient-color--lighten;
        opacity: 0.9;
        box-shadow:$darken-shadow;
        
        
    }
}
.header__img-a-la-francaise{
    border-radius: 0;
}

// :hover underline


.menu__title {
    // color: red;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    padding: 0 0 10px;
    position: relative;
    font-weight: unset;
    font-size: unset;
}

.menu__title:after {    
    bottom: 0px;
    content: "";
    display: block;
    height: 4px;
    left: 0%;
    position: absolute;
    background: $tertiaire-color;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 2.5em;
}
.menu__title:hover:after { 
    width: 100%; 
}



// tablette
@media all and (min-width: 1000px) and (max-width:1500px) {
    .nav-liste{
        margin: 02em 5em;
    }
    
}

/*pc desktop */
@media all and (min-width: 1500px){
    

    body{
        // Si ecran trop large margin auto + width 70vw sur le body
        width: 90vw;
        margin: auto;
    }
    .menu-container{
        display: flex;
        justify-content: space-between;
    }
  
    .menu__liste{
        width: 32%;
        z-index: 1;
    }

    .menu__liste--4-row{
        width: 23%; 
        z-index: 2;
    }
    
    .header__title {
        margin: 1em auto;
        font-size: 3em;
    }
    // .header__btn{
    //     margin: 0;
    //     margin-right:70%;
    // }   

.restaurants{
    display: flex;
    flex-wrap: wrap;
        &__cadre{
            width: 40%;
        }
        &__title simple {
            width: 100%;
        } 
    }


    .nav-liste{
        display: flex;
        // justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .nav-liste__fonctionnement{
        width: 100%;
        background-color: white;
    }
    .nav-liste__block{
        width: 30%;
        // height: 15em;
        align-items: unset;
    }
    .nav-liste__block__ordre{
        right: -6px;
        border-radius: 10px;
        text-align: center;
        font-size: 2em;
    
    }
    .nav-liste__block__btn{
        padding: 4em 0;
        font-size: 1.4em;
    }
    .nav-liste__block__btn__icone{
        padding-bottom: 10px;
    }
 

}   


.heart:hover .az
{
    display: none;
  
}

.heart:hover .can
{
    display: inline;
    // color:$primary-color;
    animation: coeur 1s both ;
    opacity:0.8;
    cursor: pointer;
    background: -webkit-linear-gradient( $secondary-color 26%, $primary-color 107%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }
.can{
  
    opacity: 0.0000;
  }