

.restaurants__cadre__img-1{
    background-image: url(images/restaurants/birinci.jpg);
            }
.restaurants__cadre__img-2{
    background-image: url(images/restaurants/ikinci.jpg);
}

.restaurants__cadre__img-3{
    background-image: url(images/restaurants/ucuncu.jpg);
}

.restaurants__cadre__img-4{
    background-image: url(images/restaurants/dorduncu.jpg);
}