

.restaurants__cadre__img__btn__nouveau{
                @include btn-nouveau
            }

.restaurants__cadre__img-1, .header__img-a-la-francaise{
    background-image: url(images/restaurants/birinci.jpg);
            }
            
.restaurants__cadre__img-2{
    background-image: url(images/restaurants/ikinci.jpg);
}

.restaurants__cadre__img-3{
    background-image: url(images/restaurants/ucuncu.jpg);
}

.restaurants__cadre__img-4{
    background-image: url(images/restaurants/dorduncu.jpg);
}

