 
$primary-color:#9356DC  ;
$secondary-color: #FF79DA;
$tertiaire-color: #99E2D0;
$white-color:#fff;
$grey-color:whitesmoke;
$border-radius-cadre:(restaurants-accueil:23px 23px 0 0,restaurants-accueil-description: 0 0 23px 23px);



