 
$primary-color:#9356DC  ; 
$primary-color-opacity :#9356DC33;
$secondary-color: #FF79DA;
$tertiaire-color: #99E2D0;
$white-color:#fff;
$grey-color:whitesmoke;
$btn-gradient-color:linear-gradient(to bottom, $secondary-color 11%, $primary-color 107%);
$btn-gradient-color--lighten:linear-gradient(to bottom, $secondary-color 67%, $primary-color 107%);
$border-radius-cadre:(restaurants-accueil:23px 23px 0 0,restaurants-accueil-description: 0 0 23px 23px);
$transition-menu-liste: all 1s;
$shadow: black 0 0 10px -4px;
$darken-shadow: black 1px 8px 9px -4px;


@mixin btn-nouveau{
    position:absolute;
                background-color: $tertiaire-color;
                // z-index: 2;
                padding: 1em;
                right: 0;
                margin: 1em 1em 0 0;
                font-weight: bold;
                color: green;

}
@mixin btn-comander{
    // padding: 0.2em;
    // border-radius: 45px;
    // box-shadow: $shadow;
	// color: white;
	// font-size: 1.6em;
    // width: 10em;

	// text-align: center;
	// background-image: $btn-gradient-color;

    border-radius: 45px;
    box-shadow: $shadow;
    display: inline-block;
	color: white;
    padding: 0 3em;
	text-align: center;
	background-image: $btn-gradient-color;
    
    padding: 1em 3em;
    margin: 2em auto;
    transition: all 0.7s;
    width: 15em;
}

@mixin menu-plat{
    border-radius: 25px;
        background-color: white;
        padding: 0 1em;
        margin: 1em 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: $shadow;
}

@mixin btn{

    border-radius: 45px;
    box-shadow: $shadow;
    display: inline-block;
	color: white;
    padding: 0 3em;
	text-align: center;
	background-image: $btn-gradient-color;
}

// * {font-weight: bold;
// color: blue
// ;}
